<h1>Lets Et Da Burgers</h1>
<img src="/img/burger.jpeg" alt="Burger" class="pic" />
<img src="/img/download-1.jpg" alt="Burger" class="pic" />
<img src="/img/download.jpg" alt="Burger" class="pic" />


<h1>Burgers that are ready to Devour</h1>
<ul>
    {{#each burger}}
    {{#unless this.devoured}}
    {{>burgers/burgers-block devoured="1"}}
    {{/unless}}
    {{/each}}
</ul>

<h1>Devoured burgers</h1>
<ul>
    {{#each burger}}
    {{#if devoured}}
    {{> burgers/burgers-block devoured="0"}}
    {{/if}}
    {{/each}}
</ul>

<h1>What kind of Burger would you like to eat today?</h1>
<form id="create-form">

    <div class="form-group">
        <label for="burger">Burger Name:</label>
        <input type="text" id="creatingBurger" name="name">
    </div>

    <div class="form-group">
        <label for="devour">Devoured?</label><br>
        <input type="radio" name="devoured" value="1" id="devoured" checked> Devour<br>
        <input type="radio" name="devoured" value="0" id="notDevoured"> Not Yet
    </div>

    <button type="submit">Add Burger</button>


</form>