h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 50px;
  color: brown;
}

body {
  background-color: burlywood;
}

h1 {
  text-align: center;
}

.burger.jpeg {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

form {
  background-color: goldenrod;
  font-size: 20px;
  margin: 0;
  /* width: 30;
  height: 30%; */
}

button {
  background-color: salmon;
}
